*{
    padding: 0 ;
    margin: 0 ;
} 

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div1 {

    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 100PX;
  
    background-image: url(/bg-image.jpg);
    width: 400px;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    background-color: rgba(0, 0, 0, 0.632) ;

    border-radius: 30PX;
    


    
    
}

.background{

      background-origin: content-box;
      width: 200px;
}